<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style/style.css">
    </head>
    <body>
        <div class="sidebar">
            <div class="select_menu">
                <img class = "icon" src="icon_setting.svg" width="25px" height="25px">
                <span class ="title">
                    Settings
                </span>
            </div>
            <div class="menu">
                <img class = "icon" src="icon_setting.svg" width="25px" height="25px">
                <span class ="title">
                    Show
                </span>
            </div>
            <!--profile image & text-->
             <!--menu item-->
        </div>    
        <div class="content">
            <div class = "title"">
                설정
            </div>
            <div class="card">
                
            </div>
        </div>
    </body>
</html>