<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/style/view_with_image.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="sidebar">
    <div class="select_menu">
      <img class="icon" src="../static/web_image/List.svg" onclick="location.replace('http:/\/192.168.137.42:8080/')" width="25px" height="25px">
      <span class="title">
        Show
      </span>
    </div>
    <div class="menu">
      <img class="icon" src="../static/web_image/chart.svg" onclick="location.replace('http:/\/192.168.137.42:8080/statistics')" width="25px" height="25px">
      <span class="title">
        Settings
      </span>
    </div>
    <!--profile image & text-->
    <!--menu item-->
  </div>
  <div class="content">
    <div class="title">
      차량 데이터 조회
    </div>
    <div class="card">
      <table class="show_table">
        <thead>
          <th class="enter_time">진입 시각</th>
          <th class="exit_time">진출 시각</th>
          <th class="passing_time">걸린 시간</th>
          <th class="velocity">평균 속력</th>
          <th class="speeding">과속 여부</th>
        </thead>
        <tbody>
          <tr>
            <td class="enter_time">{% print(enterTime) %}</td>
            <td>{% print(exitTime) %}</td>
            <td>{% print(passingTime) %}</td>
            <td>{% print(velocity) %}</td>
            <td>{% print(isSpeeding) %}</td>
          </tr>
        </tbody>
      </table>
      <div class="car_image">
        <img class = "icon" src="{{ url_for('static', filename=imagePath) }}" >
      </div>
      <button>
        asdsd
      </button>
    </div>
  </div>
</body>

</html>