<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript"></script>
  <script src="../static/scripts/view_data/view_mqtt.js" type="text/javascript"></script>
  <script src="../static/scripts/view_data/show_data.js" type="text/javascript"></script>
  <script>
    window.addEventListener("load", function () {
      startConnect();
    });
</script>
</head>

<body>
  <div class="sidebar">
    <div class="menu">
      <img class="icon" src="../static/web_image/icon_setting.svg" width="25px" height="25px">
      <span class="title">
        Settings
      </span>
    </div>
    <div class="select_menu">
      <img class="icon" src="../static/web_image/icon_setting.svg" width="25px" height="25px">
      <span class="title">
        Show
      </span>
    </div>
    <!--profile image & text-->
    <!--menu item-->
  </div>
  <div class="content">
    <div class="title">
      차량 데이터 조회
    </div>
    <div class="card">
      <table class="show_table">
        <thead>
          <th class="enter_time">진입 시각</th>
          <th class="exit_time">진출 시각</th>
          <th class="passing_time">걸린 시간</th>
          <th class="velocity">평균 속력</th>
          <th class="speeding">과속 여부</th>
          <th class="blank"></th>
          <th class="show_image">이미지 보기</th>
        </thead>
        <tbody id="show_table_body">
          <tr>
            <td class="enter_time">2022년 11월 28일 11:35:06</td>
            <td>2022년 11월 28일 11:35:06</td>
            <td>00:00:02.264</td>
            <td>1.3 km/h</td>
            <td>과속</td>
            <td></td>
            <td style="text-align: center;">
              <img class = "icon" src="../static/web_image/icon_image.svg".svg" width="25px" height="25px">
            </td>
          </tr>
        </tbody>
      </table>
      <form>
        <input type="button" onclick="startConnect()" value="Connect">
        <input type="button" onclick="startDisconnect()" value="Disconnect">
      </form>
      <form>
        <input type="button" onclick="requestData()" value="액션">
      </form>
      <form>
        <input type="button" onclick="stringToObjectArray()" value="액션">
      </form>
      <div id = "messages">

      </div>
    </div>
  </div>
</body>

</html>